.App{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
}

.videoContainer{
  /* Default video container styling */
  max-width: 12.5%;
  min-width: 8.33%;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  top: auto;
  bottom: 0;
  left: auto;
  right: auto;
}

.videoContainer > video {
  object-fit: cover;
  height: 100%;
  width: 100%;
  vertical-align: bottom;
}
.videoContainer > video.local {
  object-fit: cover;
  transform: scale(-1, 1);
}
.videoContainer > video.local.screensharing {
  object-fit: cover;
  transform: scale(1, 1);
}
.videoContainer.contain.focus > video {
  object-fit: contain;
}

/* .videoContainer.active {
  border: 3px solid white;
}
.videoContainer.selected {
  border: 3px solid blue;
} */
.videoContainer.focus{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
}
